name: Check Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        publish_target:
          - win-x64
          - linux-x64
          - osx-x64

    steps:
      - name: Checkout code OpenKNX.Toolbox.Sign
        uses: actions/checkout@v4
        with:
          repository: OpenKNX/OpenKNX.Toolbox.Sign
          ref: main
          path: OpenKNX.Toolbox.Sign

      - name: Checkout code OpenKNXproducer
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref || github.ref_name }}
          path: OpenKNXproducer

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0'

      # - name: DEBUG Clone Result
      #   run: |
      #     pwd
      #     find OpenKNXproducer
          
          
      - name: Run PUBLISH ${{ matrix.publish_target }}
        shell: pwsh
        run: |
          cd OpenKNXproducer
          dotnet publish ./OpenKNXproducer.csproj -c Release -r ${{ matrix.publish_target }} --self-contained true /p:PublishSingleFile=true

      # - name: DEBUG Build Result
      #   if: matrix.publish_target == 'linux-x64'
      #   run: |
      #     ls -l OpenKNXproducer/bin/Release/net8.0/linux-x64/publish
      #     ls -l OpenKNXproducer/bin/Release/net8.0/linux-x64/publish/OpenKNXproducer
      #     pwd
      #     find OpenKNXproducer

      - name: Upload Build Artifact
        if: matrix.publish_target == 'linux-x64'
        uses: actions/upload-artifact@v4
        with:
          name: bin-linux-x64
          path: OpenKNXproducer/bin/Release/net8.0/linux-x64/publish/OpenKNXproducer
          retention-days: 1
