name: Check OAM Releases

on:
  workflow_run:
    workflows: ["build.yml"]
    types:
      - completed

jobs:
  check-oam-releases:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Release '${{ matrix.oam }}'
    strategy:
      fail-fast: false
      matrix:
        include:

          - oam: OAM-StateEngine
            ref: v1
            prefix: StateEngine
            target: DFA16-Release
            # knxprod_xml: StateEngine-DFA16-Release
          # TODO include again for next release
          # - oam: OAM-LogicModule
          #   prefix: Logikmodul
          #   # knxprod_xml: Logikmodul-Release
          - oam: OAM-SensorModule
            ref: v1
            prefix: Sensormodul
            target: Big
            # knxprod_xml: Sensormodul-Big
          - oam: OAM-PresenceModule
            ref: v1
            prefix: PMmodul
            target: Big
            # knxprod_xml: PMmodul-Big

          # --> You need to >>> INCREASE YOUR <<< ETS ApplicationVersion and manually synchronize op:verify of the MTR Module to ModuleVersion 0.2
          # - oam: OAM-Meter
          #   ref: v1
          #   prefix: MeterModule
          #   target: ""
          #   # knxprod_xml: MeterModule

          - oam: SEN-UP1-8xTH
            ref: v1
            prefix: SEN-UP1-8xTH
            target: Release

          # --> You need to >>> INCREASE YOUR <<< ETS ApplicationVersion and manually synchronize op:verify of the IR Module to ModuleVersion 0.1
          #- oam: OAM-InfraredGateway
          #  ref: v1
          #  prefix: InfraredGateway
          #  target: ""
          #  # knxprod_xml: InfraredGateway
          # Failing Build on main and latest release
          # - oam: OAM-IP-Router
          #   # failed using `ref: main`
          #   ref: d0c9aa559d8eb39b6ca0561253297ce8f2defe78
          #   prefix: IP-Router
          #   target: Release
          #   # knxprod_xml: IP-Router-Release

          - oam: OAM-InternetServices
            ref: v1
            prefix: InternetServices
            target: Release

    uses: ./.github/workflows/producer-oam-check.yml
    with:
      oam: ${{ matrix.oam }}
      ref: ${{ matrix.ref }}
      KNXPROD_PREFIX: ${{ matrix.prefix }}
      target: ${{ matrix.target }}
      restore_branch: false
